body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.puzzle {
  position: relative;
  background-color: white;
}

.background {
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

.square {
  position: absolute;
  overflow: hidden;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
